[submodule "templates/reveal.js"]
	path = templates/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "templates/MathJax"]
	path = templates/MathJax
	url = https://github.com/mathjax/MathJax
